html {
	height: 98%;
	background-color: #342E37;
}

body {
	font-family: Helvetica, Arial, sans-serif;
	height: 100%;
	color: white;
}

hr {
	width: 50%;
	text-align: left;
	margin: 0 auto 0 0;
	border-color: #3772FF;
}

p {
    line-height: 1.2em;
}

.lastname {
	color: #3772FF;
	font-weight: 800;
}

.firstname {
	text-transform: lowercase;
	text-decoration-color: #3772FF;
	text-decoration-line: underline;
}

.main_cv_body_header {
	height: 18%;
}

.padded_left_div_paragraph {
	padding-left: 5%;
	padding-right: 5%;
}

.dev_role {
	color: orange;
}

.left_div_section_header {
	color: #3772FF;
	background-color: #342E37;
	text-align: center;
	padding: 0%;
}

.center_img {
	display: flex;
	justify-content: center;
	padding: 2%;
}

.left_global_div {
	float: left;
	min-height: 100%;
	width: 20%;
}

.left_div_section {
	border-radius: 25px;
	background-color: #3772FF;
}

.right_global_div {
	float: right;
	height: 100%;
	width: 75%;
}

.main_cv_body_div_section {
	overflow: hidden;
}

.main_cv_body_div_left {
	float: left;
	width: 20%;
}

.main_cv_body_div_right {
	float: left;
	width: 30%;
}
